.reviewers-list {
    display: flex;
    flex-direction: row;

    padding-bottom: 10px;

    columns: 4;
    flex-wrap: wrap;
    align-content: flex-start;

    &__item {
        width: 25%;
        padding-left: 1%;

        text-align: center;

        flex-shrink: 1;

        &:first-child {
            padding-left: 0;
        }

        &-avatar {
            max-width: 80px;
            margin: 0 auto;
        }

        &-username {
            text-align: center;
        }
    }
}
