.reviewers-list {
    display: flex;
    flex-direction: row;

    padding-bottom: 10px;

    flex-wrap: wrap;
    align-content: flex-start;
}

.reviewer-cell {
    white-space: nowrap;

    .reviewer {
        &.-badge {
            margin-right: 9px;
        }
    }
}

.reviewer {
    position: relative;

    width: 20%;
    padding-left: 1%;

    text-align: center;

    flex-shrink: 1;

    &:hover {
        text-decoration: none;

        .reviewer__remove {
            opacity: 1;
        }
    }

    &:focus {
        text-decoration: none;

        outline: none;
    }

    &:first-child {
        padding-left: 0;
    }

    &__remove {
        position: absolute;
        top: -6px;
        right: -6px;

        width: 16px;
        height: 16px;

        transition: opacity .2s;

        opacity: 0;
    }

    &__avatar {
        max-width: 80px;
        margin: 0 auto;
    }

    &__username {
        text-align: center;
    }

    &.-badge {
        display: inline-block;

        width: auto;
        margin-right: 18px;
        padding-left: 0;

        .reviewer__approved {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            transition: opacity 1s;

            opacity: 0;
            border-radius: 50%;
            background: rgba(76, 175, 80, .85);

            i {
                vertical-align: bottom;

                color: #fff;
            }
        }

        &.-approved {
            .reviewer__approved {
                opacity: 1;
            }
        }

        .reviewer__avatar {
            position: relative;

            overflow: hidden;

            width: 40px;
            height: 40px;

            border-radius: 50%;
        }
    }
}
